var DEFAULTVIEWSTYLE = "display: flex; flex-grow: 0; flex-shrink: 0; position: relative; flex-direction: column; box-sizing: border-box;border-width: 0; border-style: solid;min-width: 0;min-height: 0;";
var DEFAULTTEXTWSTYLE = "display: inline-block; flex-grow: 0; flex-shrink: 0; " +
    "overflow: hidden; position: relative; flex-direction: column; box-sizing: border-box ;border-width: 0; border-style: solid;min-width: 0;min-height: 0;";
var DEFAULTINNERTEXTWSTYLE = "display: inline;min-width: 0;min-height: 0;";
var DEFAULTSCROLLVIEWSTYLE = "display: flex; position: relative; flex-direction: column; box-sizing: border-box; flex: 1 ;border-width: 0; border-style: solid; min-width: 0;min-height: 0;";

var DEFAULTCONTAINERSTYLE =
    "display: flex; flex: 1; flex-basis: 100%; width: 100%; height: 100%;" +
    " justify-content: inherit; align-items: inherit; flex-wrap: inherit; box-sizing: border-box; border:none; flex-direction: inherit; border-radius: inherit; position: static;min-width: 0;min-height: 0;"


var getFinalStyle = function (d) {
  return d.replace('_1_', DEFAULTVIEWSTYLE)
          .replace('_2_', DEFAULTTEXTWSTYLE)
          .replace('_3_', DEFAULTINNERTEXTWSTYLE)
          .replace('_4_', DEFAULTSCROLLVIEWSTYLE)
          .replace('_5_', DEFAULTCONTAINERSTYLE)
}

module.exports = {
    getFinalStyle: getFinalStyle
};